@import 'mixins';
@import 'colors';
@import 'bootstrap';

@import 'app';
@import 'flex';
@import 'fonts';
@import 'header';
@import 'navigation';
@import 'typography';

body {
  margin: 0;
  padding: 0;
  background: $bg-grey-80;
	color: #fff;
}
